* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f5e0ee, #d5aecb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.img {
  width: auto;
  height: 20rem;
  border-radius: 12px;
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
  color: hotpink;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.btn:hover {
  transform: translateY(-2px);
}

.btn-yes {
  background-color: #26953c;
  color: white;
}

.btn-no {
  background-color: rgb(166, 37, 82);
  color: white;
  position: relative;
}

.hidden {
  display: none;
}
